.social-container{
    text-align: center;
    padding: 20px;
}

.title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 48px;
    transition: transform 0.3s;
}
.icon:hover{
    transform: scale(1.1);
}

.icon svg  {
    width: 60px;
    height: 60px;
    color: white;
}

.facebook{ background-color: #1877F2;}
.twitter { background-color: #1DA1F2; }
.instagram { background-color: #E4405F; }
.tiktok { background-color: #000; }

@media (max-width:600px){
    .icons{
        flex-direction: column;
        gap: 10px;
    }
}